body{
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    width: 80%;
    margin: 40px auto;
    
}
#storeList{
    background-color: #a4c2a5;
    border-radius: 30px;
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204, 192, 30);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(121, 248, 101);
}



input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: rgb(137, 164, 111);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #4b99d8;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
  
}
.button:active {
    background-color: #a8efaa;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

button:hover{
    background:#406539 ;
}

label{
    background-color: rgb(178, 182, 168);
    border-radius: 4px;
}
tbody > td{
background-color: #4b99d8;
}